@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 270px;
  width: 30vw;
  height: 100vh;
}

.sidebar_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 16.5vh;
  background-color: #EDEDED;
}
.sidebar_info .MuiSvgIcon-root {
  color: #919191;
}

.infos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px 10px;
}
.infos .info_link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
}
.infos .info_link p {
  max-width: 15vw;
  margin-left: 15px;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-family: "Noto Sans JP", sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.infos div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search_bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #F6F6F6;
  padding: 8px 10px;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
}
.search .MuiSvgIcon-root {
  width: 20px;
  height: 20px;
}
.search input {
  border: none;
  outline: none;
  font-size: 15px;
  width: 85%;
  padding: 2px 10px;
  border-radius: 20px;
}

::-moz-placeholder {
  color: #999999;
  font-size: 13px;
  letter-spacing: 1px;
}

:-ms-input-placeholder {
  color: #999999;
  font-size: 13px;
  letter-spacing: 1px;
}

::placeholder {
  color: #999999;
  font-size: 13px;
  letter-spacing: 1px;
}

.sidebar_chat {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 83.5vh;
  overflow-y: scroll;
  overflow-x: hidden;
  border-top: 1px solid lightgrey;
}

.sidebar_chat::-webkit-scrollbar {
  width: 4px;
}

.sidebar_chat::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #B7B7B7;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 12px 10px;
  cursor: pointer;
  transition: all 0.2s ease-out;
  text-decoration: none;
  color: black;
}
.container:hover {
  background-color: #EDEDED;
}

.selected {
  background-color: #EDEDED;
}

.user_info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.user_info .MuiAvatar-root {
  width: 46px;
  height: 46px;
}
.user_info h4, .user_info p {
  max-width: 18vw;
  font-size: 15px;
  margin-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Open Sans", sans-serif;
}
.user_info p {
  color: #8F8F8F;
}

.date {
  font-size: 13px;
  color: #8F8F8F;
}/*# sourceMappingURL=SidebarInfo.css.map */