@mixin flex ($a, $b, $c) {
    display: flex;
    flex-direction: $a;
    justify-content: $b;
    align-items: $c;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

.chat {
    @include flex(column, space-between, center);
    width: 100%;
    height: 100%;
    letter-spacing: 0.5px;
    overflow-x: hidden;
    .MuiSvgIcon-root {
        color: #919191;
        cursor: pointer;
    }
}

.chat_header {
    @include flex(row, space-between, center);
    width: 100%;
    height: 9%;
    padding: 10px;
    background-color: #EDEDED;
    .chats_div {
        @include flex(row, center, center);
        p {
            font-size: 14px;
            font-family: 'Open Sans', sans-serif;
            font-weight: bold;
            margin-left: 10px;
        }
    }
}

.chat_container {
    @include flex(column, flex-start, flex-start);
    width: 100%;
    height: 82%;
    background-image: url("https://res.cloudinary.com/ayushbhatt/image/upload/v1624415037/WhattApp-Clone/nmk19hqbsfkuiczrwe7w.png");
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
    padding: 0px 15px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 6px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background-color: #B7B7B7; 
    }
}

.chats_date {
    @include flex(row, center, center);
    width: 100%;
    margin: 10px 0px;
    p {
        background-color: #E1F2FB;
        padding: 5px 10px;
        border-radius: 10px;
        font-size: 14px;
        letter-spacing: 0px;
    }
}

.chats_sender, .chats_receiver {
    width: 100%;
    div {
        max-width: 40%;
        background-color: white;
        margin-top: 4px;
        padding: 10px;
        border-radius: 10px;
        h4 {
            font-size: 13px;
            font-family: 'Raleway', sans-serif;
        }
        p {
            @include flex(row, center, flex-end);
            background-color: white;
            font-size: 14px;
            font-family: 'Open Sans', sans-serif;
            letter-spacing: 0px;
            span {
                color: #8F8F8F;
                font-size: 12px;
                margin-left: 5px;
            }
        }
    }
}

.chats_sender {
    @include flex(column, flex-end, flex-end);
    div {
        h4 {
            color: #3989EE;
        }
    }

}

.chats_receiver {
    @include flex(column, flex-start, flex-start);
    div {
        h4 {
            color: #46D19E;
        }
    }

}

.chat_footer {
    @include flex(row, space-between, center);
    width: 100%;
    height: 9%;
    padding: 10px;
    background-color: #F0F0F0;
    input {
        border: none;
        outline: none;
        font-size: 15px;
        width: 85%;
        padding: 10px;
        border-radius: 20px;
    }
}

.no_btn, .yes_btn {
    border: none;
    outline: none;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    &:hover {
        box-shadow: 0 0 10px lightgray;
    }
}

.no_btn {
    color: #05CD51;
    background-color: white;
}

.yes_btn {
    color: white;
    background-color: #05CD51;
}

.submit {
    border: none;
    outline: none;
}

::placeholder {
    font-size: 15px;
}