@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
.chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  letter-spacing: 0.5px;
  overflow-x: hidden;
}
.chat .MuiSvgIcon-root {
  color: #919191;
  cursor: pointer;
}

.chat_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 9%;
  padding: 10px;
  background-color: #EDEDED;
}
.chat_header .chats_div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.chat_header .chats_div p {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  margin-left: 10px;
}

.chat_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 82%;
  background-image: url("https://res.cloudinary.com/ayushbhatt/image/upload/v1624415037/WhattApp-Clone/nmk19hqbsfkuiczrwe7w.png");
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
  padding: 0px 15px;
  overflow-y: scroll;
}
.chat_container::-webkit-scrollbar {
  width: 6px;
}
.chat_container::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #B7B7B7;
}

.chats_date {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px 0px;
}
.chats_date p {
  background-color: #E1F2FB;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 14px;
  letter-spacing: 0px;
}

.chats_sender, .chats_receiver {
  width: 100%;
}
.chats_sender div, .chats_receiver div {
  max-width: 40%;
  background-color: white;
  margin-top: 4px;
  padding: 10px;
  border-radius: 10px;
}
.chats_sender div h4, .chats_receiver div h4 {
  font-size: 13px;
  font-family: "Raleway", sans-serif;
}
.chats_sender div p, .chats_receiver div p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  background-color: white;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0px;
}
.chats_sender div p span, .chats_receiver div p span {
  color: #8F8F8F;
  font-size: 12px;
  margin-left: 5px;
}

.chats_sender {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.chats_sender div h4 {
  color: #3989EE;
}

.chats_receiver {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.chats_receiver div h4 {
  color: #46D19E;
}

.chat_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 9%;
  padding: 10px;
  background-color: #F0F0F0;
}
.chat_footer input {
  border: none;
  outline: none;
  font-size: 15px;
  width: 85%;
  padding: 10px;
  border-radius: 20px;
}

.no_btn, .yes_btn {
  border: none;
  outline: none;
  padding: 15px 20px;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}
.no_btn:hover, .yes_btn:hover {
  box-shadow: 0 0 10px lightgray;
}

.no_btn {
  color: #05CD51;
  background-color: white;
}

.yes_btn {
  color: white;
  background-color: #05CD51;
}

.submit {
  border: none;
  outline: none;
}

::-moz-placeholder {
  font-size: 15px;
}

:-ms-input-placeholder {
  font-size: 15px;
}

::placeholder {
  font-size: 15px;
}/*# sourceMappingURL=Chat.css.map */